@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

body {
    max-width: 100vw;
    max-height: max-content;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.baner {
    position: relative;
    height: content;
   background-color: cornsilk;
   display: flex;
    gap: 10%;
    padding-left: 20%;
    border-bottom: 1px solid rgb(218, 216, 216);
    position: fixed;
    top: 0px;
    z-index: 4;
    width: 100vw;
  
}
#logo {
    width:9vw;
    position: absolute;
    margin-left:-17vw;
    margin-top:-3vh;
    z-index: 3;
}

.galeria-baner , .cennik , .kontakt , .oferta {
    font-family: 'Qwitcher Grypen';
    width: max-content;
    padding: 30px;
    padding-top:10px;
    font-size: 50px;
    cursor: pointer;
}
.galeria{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 100%;
    top: 100px;
  margin-left: 1vw;
}

#firstpct{
    position: absolute;
    width: 49vw;
    transition: 0.7s;
    border: 4px solid white;
} 
#firstpct:hover{
    width:50vw;
  
} 


#secondpct{
   
    position: absolute;
    margin-left: 47vw;
    width: 49.5vw;
    border: 4px solid white;
    transition: 0.7s;
} 
#secondpct:hover{
    width: 50vw;
} 


#thirdpct{
    z-index: 2;
    margin-top: 50vh;
    position: absolute;
    margin-left: 35vw;
    width: 27vw;
    border: 4px solid white;
    transition: 0.7s;
} 
#thirdpct:hover{
    width: 26vw;
} 


#fourpct{
    margin-top: 65vh;
    position: absolute;
   z-index: -1;
    width: 49vw;
    border: 4px solid white;
    transition: 0.7s;
    z-index: 1;
   
    
} 
#fourpct:hover{
    width: 50vw;

}



#fifepct {
    margin-top: 67vh;
    position: absolute;
   z-index: -1;
    width: 49.5vw;
    border: 4px solid white;
    transition: 0.7s;
    z-index: 1;
    margin-left: 47vw;

}

#fifepct:hover {
    width: 50vw;
}

/*-------------------------------------------------------*/

.funkcje {
    display: flex;
    margin-top:150vh;
    gap: 10px;
    justify-content: center;
}
.zdj {
    border: 1px solid gray;
    width: 120px;
    height:120px;
    bottom: 0px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.zdj img{
    width: 50%;
    height: 45%;
}
.zdj p {
    position: relative;
    bottom: 17px;
}
.zdj:hover {
   margin-left:-2.5px;
   margin-top: -5px;
    width:125px;
    height:125px;
}

.opis {
    position: static;
    display: block;
    flex-direction: column;
    text-align: left;
    width: 700px;
    font-family: 'Combo', cursive;
    margin: 15vh 8vw 0vw 10vw;
}
.bold {
    font-weight: bold;
}

.AtutyDiv { 
    display: block;
    margin: 15vh 0vw;
    background: #f0f6ff;
    padding: 25px;
    font-size: 13px;
    height: min-content;
}
.AtutyDiv img {
    width: 18px;
    padding-right:10px;
    
}
.buttonAtuty {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    position: static;
    margin-left: 5vw;
    margin-top: 2vh;
    
}
.buttonAtuty:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.buttonAtuty:active {
	position:relative;
	top:1px;
}


.OpisWApp {
    display: flex;
}

.DostepnoscDiv{
    border-top: 0.2px solid black;
    width: 80vw;
    margin: 2vw 10vh;
    display: block;
    padding: 25px;
    height: min-content;
    ;
}
.DostepnoscUwaga{
    color: red;
    display: flex;
    flex-direction:row;
}
.DostepnoscUwaga .material-symbols-outlined{
    margin: 14px 10px 0px 0px;
}