@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

body {
    max-width: 100vw;
    max-height: max-content;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  
  .galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    top: 100px;
  }
  
  .row1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #firstpct {
    width: 49vw;
    border: 4px solid white;
    transition: 0.7s;
  }
  
  #firstpct:hover {
    width: 50vw;
  }
  
  #secondpct {
    width: 49vw;
    border: 4px solid white;
    transition: 0.7s;
  }
  
  #secondpct:hover {
    width: 50vw;
  }
  
  #thirdpct {
    position: absolute;
    width: 40vw;
    margin-bottom: 20px;
    border: 4px solid white;
    transition: 0.7s;
  }
  
  #thirdpct:hover {
    width: 41vw;
  }
  
  .row2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #fourpct {
    width: 49vw;
    border: 4px solid white;
    transition: 0.7s;
  }
  
  #fourpct:hover {
    width: 50vw;
  }
  
  #fifepct {
    width: 49vw;
    border: 4px solid white;
    transition: 0.7s;
  }
  
  #fifepct:hover {
    width: 50vw;
  }
  @media screen and (max-width: 768px) {
    .galeria{
        top:80px;
    }
  }
  /* ------------------------------- */
  .baner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0.5vh 2vw;
    background-color: cornsilk;
    border-bottom: 1px solid rgb(218, 216, 216);
    z-index: 4;
  }
  
  #logo {
    max-width: 100px;
    height: auto;
  }
  
  .galeria-baner,
  .cennik,
  .kontakt,
  .oferta {
    font-family: "Qwitcher Grypen";
    font-size: 5vw;
    padding: 0 20px;
    cursor: pointer;
  }
  
  
  @media screen and (min-width: 768px) {
    /* Adjust the styles for larger screens */
    #logo {
      max-width: 150px;
    }
    .baner{
        padding: 2vh 2vw;
    }
    .galeria-baner,
    .cennik,
    .kontakt,
    .oferta {
      font-size: 4vw;
      max-width: 200px;
      padding: 1vw 4vw;
    }
  }
  
/*-------------------------------------------------------*/

.funkcje {
    margin-left: 5%;
    display: flex;
    margin-top: 30vh;
    gap: 10px;
    justify-content: center;
    max-width: 90%;
}

.zdj {
    border: 1px solid gray;
    width: 120px;
    height:120px;
    bottom: 0px;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.zdj img{
    width: 60px;
    
}
.zdj p {
    position: relative;
    bottom: 10px;
}
.zdj:hover {
   margin-left:-2.5px;
   margin-top: -5px;
    width:125px;
    height:125px;
}
/* Dla ekranów o szerokości mniejszej lub równej 768px */
@media screen and (max-width: 768px) {
    .funkcje {
      flex-wrap: wrap;
      margin-top: 20vh;
    }
    .zdj {
      width: 100px;
      height: 100px;
    }
    .zdj img {
      width: 40%;
      height: 35%;
    }
    .zdj p {
      font-size: 13px;
    }
  }
  
  /* Dla ekranów o szerokości mniejszej lub równej 480px */
  @media screen and (max-width: 480px) {
    .funkcje {
      margin-top: 15vh;
    }
    .zdj {
      width: 80px;
      height: 80px;
    }
    .zdj img {
      width: 30%;
      height: 25%;
    }
    .zdj p {
      font-size: 14px;
    }
  }
  
  
.opis {
    position: static;
    display: block;
    flex-direction: column;
    text-align: left;
    width: 700px;
    font-family: 'Combo', cursive;
    margin: 15vh 8vw 0vw 10vw;
}
.bold {
    font-weight: bold;
}

.AtutyDiv { 
    display: block;
    margin: 15vh 0vw;
    background: #f0f6ff;
    padding: 25px;
    font-size: 13px;
    height: min-content;
}
.AtutyDiv img {
    width: 18px;
    padding-right:10px;
    
}
.buttonAtuty {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    position: static;
    margin-left: 5vw;
    margin-top: 2vh;
    
}
.buttonAtuty:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.buttonAtuty:active {
	position:relative;
	top:1px;
}


.OpisWApp {
    display: flex;
}

.DostepnoscDiv{
    border-top: 0.2px solid black;
    width: 80vw;
    margin: 2vw 10vh;
    display: block;
    padding: 25px;
    height: max-content;
    
}
.DostepnoscUwaga{
    color: red;
    display: flex;
    flex-direction:row;
}
.DostepnoscUwaga .material-symbols-outlined{
    margin: 14px 10px 0px 0px;
}

.DostepnoscData{
    background:none;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.OknoWyboruDaty {
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
  }
  
  .OknoDostepnosci {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .OknoWymeldowania {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .DostepnoscData {
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .DostepnoscData:hover {
    background-color: #ff6f00;
  }
  
  .DostepnoscReset {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1vw 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    }
    .DostepnoscReset:hover {
        background-color: #f5f5f5;
    }
    .WymeldowanieData {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    }
    
    .WymeldowanieData:hover {
    background-color: #3d8b3d;
    }
    
    .OknoDostepnosci {
    margin-right: 0;

    }
    
    .DostepnoscData, .WymeldowanieData {
    width: 30%;
    }

    .WymeldowanieData {
        padding: 10px 20px;
        background-color: #ff8c00;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s;
      }
      
      .WymeldowanieData:hover {
        background-color: #ff6f00;
      }
      
      .fotter{
        height: 20vh;
        background-color: cornsilk;
        margin-top: 150px;
        width: 100vw;
        text-align: center;
        font-family: 'Qwitcher Grypen';
        font-size: 16px;
        padding-top: 7px;
      }
.fotter p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}